@import 'bourbon';
@import 'sfco-sass-utils';

html {
    background-color: #EFEFEF;
    font-size: 62.5%;
}


html,
body {
    margin: 0;
    padding: 0;
}


main {
    padding: 2rem;
}

#gameWrapper {
    width: 50rem;
    height: 50rem;

    display: none;
    margin: 0 auto;
    background-color: rgba( 0,0,0,0.1 );
    position: relative;
}


.game-active #gameWrapper {
    display: block;
}


#controllerWrapper {
    width: 100%;
    height: 100%;

    display: none;
    background-color: rgba( 0,0,0,0.1 );
    padding: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.controller-active #controllerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-elem {
    width: 2rem;
    height: 2rem;
    display: block;
    background: blue;
    position: absolute;
    top: 0;
    left: 0;
}

.controller {
    width: 50vw;
    height: 50vw;
    display: block;
    background: rgba( 0, 0, 0, 0.1 );
}
